{include file="common/header" title="登录" /}

<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">登录</h3>
            </div>
            <div class="panel-body">
                <form class="form" action="{:url('index/log/logging')}" method="post">
                    <div class="form-group">
                        <label for="username" class="control-label">用户名</label>
                        <input type="text" name="username" class="username form-control" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">密码</label>
                        <input type="password" name="password" class="password form-control" placeholder="请输入密码">
                    </div>
                    <div class="captchas">
                        <!--<input placeholder="请输入验证码" name="captcha" class="captcha form-control"></input>-->
                        <!--<img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'"/>-->
                    </div>
                    <p>还不是会员？点此<a href="{:url('index/patient/register')}">注册</a></p>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
</body>

{include file="common/footer" /}