<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{$Think.config.app_name}</a>
            </div>
        </div><!--/.container-fluid -->
    </nav>

    <!--<div class="title"><span class="log">登录</span></div>-->

    <form role="form" action="{:url('index/log/logging')}" method="post">
        <h1>登录</h1>
        <div class="form-group">
            <label for="username" class="control-label">用户名</label>
            <input type="text" name="username" class="username form-control" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="password" class="control-label">密码</label>
            <input type="password" name="password" class="password form-control" placeholder="请输入密码">
        </div>
        <div class="captchas">
            <!--<input placeholder="请输入验证码" name="captcha" class="captcha form-control"></input>-->
            <!--<img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'"/>-->
        </div>
        <p>还不是会员？点此<a href="{:url('index/patient/register')}">注册</a></p>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</body>
</html>