{include file="index/header" title="主页" /}
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>欢迎！</h1>
            <p>这是一个demo.</p>
            <div class="btn-group" role="group">
                <a class="btn btn-primary btn-lg" href="{:url('index/log/login')}">登录</a>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-success btn-lg" href="{:url('index/patient/register')}">会员注册</a>
            </div>
        </div>
    </div>
</body>
{include file="index/footer" /}