{include file="admin/header" title="后台中心" /}

<div class="container">
    <div class="jumbotron">
        <h1>欢迎您，{$Think.session.ext_user['username']}！</h1>
        <div class="content">
            <p>功能入口在顶部导航栏上。</p>
            <div class="button">
                <a href="logout" class="btn btn-primary btn-lg" role="button">退出登录</a>
                <a href="changepsw" class="btn btn-danger btn-lg" role="button">修改密码</a>
            </div>
        </div>
    </div>
</div>

{include file="admin/footer" /}