{if session('role') == 'patient'}
{include file="patient/header" title="查看就诊记录" /}
{else /}
{include file="doctor/header" title="查看就诊记录" /}
{/if}

<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">查看就诊记录</h3>
        </div>
        <div class="panel-body">

        </div>
        <table name="medical-record-list" class="table">
            <thead>
            <tr>
                <th>#</th>
                {if session('role') == 'patient'}
                <th>医生</th>
                {else /}
                <th>患者</th>
                {/if}
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="medical_record"}
            <tr>
                <td>{$medical_record.id}</td>
                <td>
                    {if session('role') == 'patient'}
                    {$medical_record.appointment.doctor.name}
                    {else /}
                    {$medical_record.appointment.patient.name}
                    {/if}
                </td>
                <td>{$medical_record.create_time}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="operation">
                        <a href="{:url('index/medical_record/read', ['id' => $medical_record.id])}" class="btn btn-default ">查看详情</a>
                    </div>
                </td>

            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>
</body>

{include file="patient/footer" /}